@media screen and (min-width: 1300px) {

    p {
        font-size: 1.5rem;
    }

    button:hover {
        cursor: pointer;
    }

    .site-navigation {
        justify-content: space-evenly;
        padding: 10px 0;
    }

    .logo-box {
        flex: 0;
    }

    .logo-box__logo {
        width: 90px;
    }
    
    .site-navigation__links, .site-name {
        font-size: 1.5rem;
    }

    .links__list-item, .sm-links-list__sm-item {
        margin: 0 10px;
    }

    .list-item__link:hover, .site-name:active {
        background-color: #172A3A;
        color: #DDF0FF;
        padding: 5px;
        border-radius: 10px;
    }

    .sm-item__link > img {
        width: 50px;
    }

    .page-title {
        font-size: 4rem;
    }

    .action-call__btn {
        font-size: 1.5rem;
        padding: 15px;
       
    }

    .site-intro {
        top: 40%;
    }

    .slogan {
        font-size: 2rem;
    }

    .main-content {
        width: 60%;
        margin: 0 auto;
        /* text-align: center; */
    }

    .resv-main {
        width: 100%;
    }

    .main-content h2 {
        font-size: 3rem;
    }

    .main-content h3 {
        font-size: 2.5rem;
    }

    .main-content h4 {
        font-size: 2.1rem;
    }

    .contact-info, .rentals-summary {
        position: absolute;
        width: 18%;
        font-size: 1.5rem;
        border-radius: 10px;
    }

    .rentals-summary {
        left: 20px;
        top: 1100px;
    }

    .contact-info {
        right: 20px;
        top: 1400px;
    }

    .site-desc__img-float-left,
    .site-desc__img-float-right {
        width: 31%;
    }

    .weather-information__summary {
        width: 40%;
    }

    .price-summary__table {
        width: 60%;
    }

    .table__table-heading {
        font-size: 2rem;
    }

    .table__table-row {
        font-size: 1.5rem;
    }

    .rentals-hero-box {
        height: 85vh;
    }

    /* ---------------- Reservations Page Styles ----------------------- */

    .resv-agreements {
        width: 40vw;
        font-size: 1.5rem;
    }

    .resv-form {
        max-width: 30vw;
    }

    .form-btn {
        font-size: 1.5rem;
        width: 300px;
    }

}