@media screen and (min-width: 560px) {

    p {
        font-size: 1.3rem;
    }

    .site-navigation {
        justify-content: space-between;
        padding: 5px 5px 0 5px;
    }

    .site-navigation__links, .sm-links-list {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .list-item__link {
        display: unset;
        padding: 0 5px;
    }

    .site-navigation__links, .site-name {
        font-size: 1.1rem;
    }

    .sm-item__link > img {
        width: 30px;
    }

    .links__list-item, .sm-links-list__sm-item {
        margin: 0 3px;
    }

    .menu-button {
        display: none;
    }

    .logo-box {
        flex: 0.5;
        padding-left: 0;
    }

    .logo-box__logo {
        width: 80px;
    }

    .site-intro {
        position: absolute;
        top: 14%;
        width: 50%;
        opacity: .9;
        color: #DDF0FF;
        padding: 0 0 15px 15px;
        border-radius: 0 10px 10px 0;
    }

    .slogan {
        font-size: 1.5rem;
    }

    .action-call__btn {
        font-size: 1.2rem; 
    }

    .main-content {
        padding: 0 20px 0 20px;
    }

    .main-content p {
        padding: 0;
    }

    .main-content h2 {
        font-size: 2.5rem;
    }

    .main-content h3 {
        font-size: 2.1rem;
    }

    .main-content h4 {
        font-size: 1.8rem;
    }

    .site-desc {
        min-height: 550px;
    }

    .site-desc__img-float-left {
        float: left;
        padding: 0 20px 10px 0;
    }

    .site-desc__img-float-right {
        float: right;
        padding-left: 20px;
    }

    .site-desc__img-float-left,
    .site-desc__img-float-right {
        width: 40%;
    }

    .weather-information__summary {
        border-radius: 10px;
        width: 50%;
        margin: 0 auto;
    }

    .weather-forecast__days {
        display: flex;
        justify-content: space-around;
        width: 100%;
        border-radius: 10px;
    }

    .day__weekday,
    .day__month-day,
    .day__temp {
        font-size: 1.2rem;
    }
    
    .day__weather-con {
        width: 120px;
    }

    .rentals-page-title {
        font-size: 3rem;
    }

    .rentals-slogan {
        font-size: 2rem;
    }

    .page-intro-para {
        padding-left: 0;
    }

    .price-chart__chart-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .product-info {
        display: grid;
        grid-template-rows: 1fr;
        border: 3px solid #DDF0FF;
        border-radius: 10px;
    }

    .price-summary__table {
        width: 70%;
    }

    .table__table-heading {
        font-size: 1.7rem;
    }

    .table__table-row {
        font-size: 1.25rem;
    }

    .rentals-footer {
        margin-top: 20px;
    }

    .resv-main {
        padding-bottom: 30px;
    }

    .resv-agreements {
        width: 80vw;
        font-size: 1.5rem;
    }

    .resv-agreements__desc-para {
        font-size: 1.5rem;
    }

    .form-btn {
        font-size: 1.5rem;
        width: 400px;
    }

}

@media screen and (min-width: 1024px) {

    .site-intro {
        top: 40%;
    }

    .action-call {
        margin-left: 30%;   
    }

    .site-desc img {
        width: 30%;
    }

    .site-desc {
        min-height: 450px;
    }

}


@media screen and (min-width: 1280px) {

    .site-desc {
        min-height: 480px;
    }

}