/* CSS layout for smartphone viewports and
General CSS Declarations across all viewports. */

#content {
    margin: 0 auto;
    width: 90%;
    padding: 10px;
}

header, .logo, .site-purpose > h2, footer, .site-info {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav {
    background-color: #e0b1cb;
}

nav ul li {
    display: block;
    padding: 10px 0 10px 0;
}

.logo img {
    width: 100%;
}

a {
    text-decoration: none;
}