#content {
    margin: 0 auto;
    width: 80%;
}

header, footer {
    text-align: center;
    
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 20px;
}

main img {
    width: 100%;
}

h2 {
    text-align: center;
}

.first-grid {
    grid-column: 1/2;
}

.second-grid {
    grid-column: 2 span 1
}

.third-grid {
    grid-column: -1/-2;
}