* {
    box-sizing: border-box;
}

#content {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 20px;
}

header, main {
    margin-bottom: 30px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 20px;
}

.first-grid {
    grid-column: 1/2;
}

.second-grid {
    grid-column: 2 span 1
}

.third-grid {
    grid-column: -1/-2;
}

section {
    padding: 0 20px 0 20px;
    box-shadow: 5px 5px 10px ;
    border-radius: 10px;
}

section > span, section > a {
    line-height: 40px;
    font-size: 1.2em;
}

section > img {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

section > p {
    text-align: start;
}