@media screen and (min-width: 600px) {

    nav > button {
        display: none;
    }

    nav > ul#main-nav {
        display: flex;
        text-align: center;
    }

    nav > ul > li {
        justify-self: center;
        align-self: center;
        flex: 1 1 100%;
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
    }

    .logo {
        width: 120px;
        height: auto;
        border-radius: 60px;
    }

    .site-title {
        font-size: 3rem;
    }
    .motto {
        font-size: 1rem;
    }
    
    main {
        width: 90%;
    }

}